.sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        height: 100vh;
        width: 40%;
        max-width: 480px;
        padding: 50px 20px;
        justify-content: space-between;
    }
}

.sidebarDetails {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media (min-width: 768px) {
    .sidebarDetails {
        row-gap: 50px;
    }
}

.sideBarTop {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 800;
}

.title {
    font-size: 22px;
    font-weight: 500;
}

.description {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
}

.sideBarMiddle {
    display: flex;
    column-gap: 20px;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    .sideBarMiddle {
        flex-direction: column;
        row-gap: 15px;
    }
}

.sideBarMiddleItem {
    width: fit-content;
    cursor: pointer;
    position: relative;
    padding-bottom: 4px;
}

.sideBarMiddleItem::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #edf2f4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.sideBarMiddleItemActive::after {
    transform: scaleX(1);
}

.sideBarMiddleItem:hover::after {
    transform: scaleX(1);
}

.iconList {
    display: flex;
    column-gap: 15px;
}

.icon,
.icon * {
    cursor: pointer;
}