.recommendation {
    background: #0A192F;
    padding: 25px 30px 35px 30px;
    border-radius: 14px;
    display: flex;
}

.quotes {
    flex: 0 0 80px;
}

.recommendationDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 10px;
}

.recommendationDescription {
    font-size: 15px;
    font-weight: 200;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.recommendationDescriptionExpanded {
    display: block;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.recommendationGivenBy {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: end;
}

.recommendationGivenByName {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.recommendationLink {
    cursor: pointer;
    display: flex;
}