.experience {
    background: rgba(10, 25, 47, 0);
    padding: 25px 30px 25px 30px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: hidden;
    backdrop-filter: blur(0px);
    transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .experience {
        flex-direction: row;
        column-gap: 20px;
    }
}

.experience:hover {
    backdrop-filter: blur(10px);
    background: rgba(10, 25, 47, 0.3);
}

.dateRange {
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .dateRange {
        flex: 0 90px;
    }
}

.dateDetails {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.experienceDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.experienceWithLogo {
    display: flex;
    justify-content: space-between;
}

.roleDetails {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
}

.teamDetails {
    font-size: 15px;
    font-weight: 200;
}

.jobDetails {
    font-size: 13px;
    font-weight: 300;
}

.jobDetails>ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.experienceLink,
.experienceLink * {
    margin-left: 5px;
    cursor: pointer;
}

.companyLogo {
    opacity: 0;
    transition: opacity 0.3s ease-in-out
}

.experience:hover .companyLogo {
    opacity: 1;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: #edf2f4;
    border-radius: 100%;
}

.dash {
    width: 10px;
    height: 1px;
    background-color: #edf2f4;
}

.skills {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.pill {
    padding: 5px 10px 5px 10px;
    background-color: rgb(0, 119, 182, 0.3);
    font-size: 12px;
    font-weight: 300;
    border-radius: 20px;
    display: flex;
    column-gap: 5px;
    align-items: center;
}