.card {
    background: #0A192F;
    padding: 25px 30px 25px 30px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translate(2px, -3px);
}

.icon {
    flex: 0 0 80px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 5px;
}

.cardTitle {
    font-size: 18px;
    font-weight: 500;
}

.cardDescription {
    font-size: 15px;
    font-weight: 200;
}